<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>AddIssueServlet</servlet-name>
		<servlet-class>nl.coralic.beta.sms.AddIssueServlet</servlet-class>
	</servlet>
				<servlet>
		<servlet-name>AddCommentServlet</servlet-name>
		<servlet-class>nl.coralic.beta.sms.AddCommentServlet</servlet-class>
	</servlet>
					<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>nl.coralic.beta.sms.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddIssueServlet</servlet-name>
		<url-pattern>/addissue</url-pattern>
	</servlet-mapping>
				<servlet-mapping>
		<servlet-name>AddCommentServlet</servlet-name>
		<url-pattern>/addcomment</url-pattern>
	</servlet-mapping>
					<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	   <security-constraint>
        <web-resource-collection>
        <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        </security-constraint>
</web-app>
